@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* header */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(99, 99, 255);

}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    padding: 10px;
}

.nav {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.sign-as-doctor-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: rgb(0, 0, 155);
    color: white;
    font-weight: 500;
    cursor: pointer;
    display: none;
}

.log-out {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: rgb(0, 0, 155);
    color: white;
    font-weight: 500;
    cursor: pointer;
    display: none;
}

/* ////// */

/* sign as doctor */

.sign-as-doctor-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.575);
    display: none;
    justify-content: center;
    align-items: center;
}

.doctor-auth-cont {
    max-width: 350px;
    width: 100%;
    height: 250px;
    background: rgb(0, 0, 155);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.doctor-auth-inp {
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 10px 15px;
}

.doctor-auth-btn {
    padding: 10px 15px;
    border: none;
    color: rgb(0, 0, 155);
    background-color: white;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
}

/* ////// */

/* main */

main {
    flex: 1 0 auto;
    background: white;   
}

/* ////// */

/* wrapper */

.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

/* ////// */

/* appointment */

.appointment-cont {
    max-width: 800px;
    width: 100%;
    height: 550px;
    background-color: rgb(99, 99, 255);
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.appointment-select {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    height: 450px;
    padding: 0px 10px;
}

.appointment-title {
    margin-bottom: 20px;
    color: white;
}

.health-complaints {
    resize: none;
    outline: none;
    border: none;
    padding: 10px;
}

.name-and-surname {
    display: flex;
    justify-content: space-between;
}

.name-and-surname-item {
    max-width: 200px;
    width: 100%;
    outline: none;
    border: none;
    padding: 5px 10px;
}

.name-inp {
    margin-right: 10px;
}

.user-address {
    outline: none;
    border: none;
    padding: 5px 10px;
}

.select-doctor-title {
    margin-top: 10px;
    color: white;
}

.date-of-birth {
    outline: none;
    border: none;
    padding: 5px 10px;
}

.select-doctor {
    padding: 5px 10px;
    outline: none;
    border: none;
}

.make-appointment-btn {
    margin-top: 20px;
    align-self: center;
    padding: 10px 20px;
    border: none;
    background: rgb(0, 0, 155);
    color: white;
    border-radius:  20px;
    font-weight: 500;
    cursor: pointer;
}

.health-complaints-for-user {
    margin-top: 20px;
    overflow-wrap: break-word;
}

.delete-app-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    align-self: center;
    cursor: pointer;
    background-color: white;
    font-weight: 500;
    color: rgb(0, 0, 155);
}

/* ////// */

/* applications */

.applications-cont-for-doctor {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.applications-for-doctors-title {
    color: rgb(0, 0, 155);
}

.applications-for-doctors {
    max-width: 800px;
    width: 100%;
}

.application-item {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin-top: 20px;
    background: rgb(0, 0, 155);
    color: white;
    padding: 10px;
    border-radius: 10px;
}



/* ////// */

/* succesful sending an app */

.succesful-sending-an-app-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(102, 102, 102, 0.514);
    display: flex;
    align-items: center;
    justify-content: center;
}

.succesful-sending-an-app-text {
    font-weight: 500;
    color: white;
}

/* ////// */

/* footer */

footer {
    background-image: linear-gradient(-30deg, #2E9AFF, #F498AD);
}

/* ////// */